In [2]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

In [3]:
dataframe = pd.read_csv('data/ciclo_2013_2014_05_03.csv')
dataframe.head()

,ALUNO,LYCEUM.GET_MUNICIPIO_NASCIMENTO_UEA(P.PESSOA),DT_NASC,CURSO,NOME,TIPO_INGRESSO,ANO_INGRESSO,UNIDADE_FISICA,SERIE,DISCIPLINA,NOME_DISCIPLINA,NOTA_FINAL,SITUACAO_HIST,PERC_PRESENCA,FALTAS
0,1,Manaus,23/07/1995,EST17KSN,Análise e Desenvolvimento de Sistemas,SAES,2013,EST,1.0,ESTTPD108,Algoritmos e Programação,5.17,Rep Nota,"0,92",6
1,2,Manaus,23/07/1995,EST17KSN,Análise e Desenvolvimento de Sistemas,SAES,2013,EST,1.0,ESTBAS006,Comunicação e Expressão,6.00,Aprovado,1,NaN
2,3,Manaus,23/07/1995,EST17KSN,Análise e Desenvolvimento de Sistemas,SAES,2013,EST,1.0,ESTBAS002,Cálculo I,2.9,Rep Nota,1,0
3,4,Manaus,23/07/1995,EST17KSN,Análise e Desenvolvimento de Sistemas,SAES,2013,EST,1.0,ESTBAS035,Empreendedorismo,8.50,Aprovado,1,NaN
4,5,Manaus,23/07/1995,EST17KSN,Análise e Desenvolvimento de Sistemas,SAES,2013,EST,1.0,ESTTPD100,Introdução à Computação,7.70,Aprovado,"0,8667",8

In [5]:
dataframe.rename(columns=lambda x: x.strip().lower(), inplace=True)
dataframe.rename(columns = {'lyceum.get_municipio_nascimento_uea(p.pessoa)':'municipio_nascimento'}, inplace=True)

In [8]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57075 entries, 0 to 57074
Data columns (total 15 columns):
aluno                   57075 non-null int64
municipio_nascimento    57075 non-null object
dt_nasc                 57075 non-null object
curso                   57075 non-null object
nome                    57075 non-null object
tipo_ingresso           57075 non-null object
ano_ingresso            57075 non-null int64
unidade_fisica          57075 non-null object
serie                   56274 non-null float64
disciplina              57075 non-null object
nome_disciplina         57075 non-null object
nota_final              56976 non-null object
situacao_hist           57075 non-null object
perc_presenca           57054 non-null object
faltas                  38850 non-null object
dtypes: float64(1), int64(2), object(12)
memory usage: 6.5+ MB